.nav a {
    display: fadeIn ;
    color: red;
    font-size: .5px;
    font-weight: 300;
    text-align: center ;
    padding: .5em;
    border-bottom: 1px solid  #ebecec;

  }
  .nav  a:hover {
    color: lightblue;

  }












 
  









         